*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f2f2f2;
}

header{
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
}

header .element-header{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header .element-header h1{
    margin-bottom: 20px;
    font-size: 50px;
    width: 80%;
    text-align: center;
}

header .element-header h2{
    font-size: 22px;
    color: #3242a8;
    width: 90%;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.container {
    width: 100%; /* Ancho del contenedor principal */
    margin: 0 auto; /* Centrar el contenedor */
    display: block;
    z-index: 4;
  }
  
#navbar {
    background-color: #fff; /* Color de fondo azul oscuro */
    height: 60px; /* Altura de la barra de navegación */

    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 4;
    right: 0;
}

#navbar ul {
    width: 100%;
    list-style: none; /* Eliminar viñetas por defecto */
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#navbar li {
    display: inline-block; /* Convertir elementos de lista en bloques en línea */
    z-index: 2;
    width: 100%;
    text-align: center;
}

#navbar li a {
    color: #000; /* Color de texto blanco */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 18px; /* Tamaño de fuente */
    transition: 0.9s ease; /* Efecto de transición al hover */
    width: 100%;
    height: 100%;
}

#navbar ul li a:hover{
    color: #4856ad;
}

.slider{
  position: absolute;
  width: 0;
  height: 5px;
  left: 0px;
  bottom: 0;
  background-color: royalblue;
  border-radius: 5px;
  z-index: 1;
  transition: .5s ease;
}

.container .btn{
  color: #000;
  font-size: 25px;
  cursor: pointer;
  display: none;
} 

.container .btn .menu-btn{
  margin: 40px;
}

@media (max-width: 1060px){
  .container{
    position: fixed;
    top: 0;
    right: 0;
  }

  .container .btn{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .container #navbar{
    background-color: #6f7ccf;
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 400px;
    top: 0;
    z-index: 3;
    right: 0;
    position: absolute;
  }

  .container #navbar.active {
    right: 0;
    display: flex;
  }

  .container #navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 400px;
    background-color: #6f7ccf;
    height: 40%;
  }

  .container #navbar ul{
    margin-bottom: 40px;
  }

  .container #navbar ul li a{
    color: #fff;
  }

  .container #navbar .btn{
    position: absolute;
    left: 0;
    margin: 25px;
    z-index: 4;
  }

  .container #navbar .close-btn{
    color: #fff;
  }

  .slider{
    display: none;
  }  
}


/*__________________________________________________________________________*/


.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content .present{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.content .present img{
    height: 300px;
}

.content .present .text{
    margin: 60px 0 60px 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.content .present .text p{
    font-size: 16px;
}

.content .present .text a{
    background-color: #3242a8;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: transform .2s;
}

.content .present .text a:hover{
  transform: scale(1.05);
}

@media(max-width: 770px){
  .present .text{
    height: 150px;
  }
}

/*___________________________________________________________*/


section{
  width: 90%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    .column{
      width: fit-content;
      padding: 10px;

    }
  }
}

.card{
  position: relative;
  height: 400px;
  width: 350px;
  margin: 10px 0;
  transition: ease all 2.3s;
  perspective: 1200px;
  &:hover{
    .cover{
      transform: rotateX(0deg) rotateY(-180deg);
      &:before{
        transform: translateZ(30px);
      }
      &:after{
        background-color: black;
      }
      h1{
        transform: translateZ(100px);
      }
      .price{
        transform: translateZ(60px);
      }
      a{
        transform: translateZ(-60px) rotatey(-180deg);
      }
    }
  }
  
  .cover{
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &:before{
      content: '';
      position: absolute;
      border: 5px solid rgba(255,255,255,.5);
      box-shadow: 0 0 12px rgba(0,0,0,.3); 
      top:20px;
      left:20px;
      right:20px;
      bottom:20px;
      z-index: 2;
      transition: ease all 2.3s;
      transform-style: preserve-3d;
      transform: translateZ(0px);
    }
    &:after{
      content: '';
      position: absolute;
      top:0px;
      left:0px;
      right:0px;
      bottom:0px;
      z-index: 2;
      transition: ease all 1.3s;
      background: rgba(0,0,0,.4);
    }
    &.item-a{
      background-image: url('../images/logo.png');
      background-size: 300px;
    }
    &.item-b{
      background-image: url('../images/hass.jpg');
    }
    &.item-c{
      background-image: url('../images/talud.jpg');
    }
    h1{
      font-weight: 600;
      position: absolute;
      bottom: 55px;
      left: 50px;
      color: white;
      transform-style: preserve-3d;
      transition: ease all 2.3s;
      z-index:3;
      font-size: 3em;
      transform: translateZ(0px);
    }
  }
  .card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0b0f08;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      transform-style: preserve-3d;
      transition: ease transform 2.3s, ease background .5s;
      transform: translateZ(-1px) rotatey(-180deg);
      background: transparent;
      border: 1px solid white;
      font-weight: 200;
      font-size: 1.3em;
      color: white;
      padding: 14px 32px;
      outline: none;
      text-decoration: none;
      &:hover{
        background-color: white;
        color: #0b0f08;
      }
    }
  }
}

/*_____________________________________________________*/
.contact{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.contact .message{
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  margin: 20px 0 20px 0;
  padding: 12px;
  background-color: #3242a8;
  transition: transform .2s;
}

.contact .message:hover{
  transform: scale(1.05);
}

/*____________________________________________________*/

.contact .redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.contact .redes .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #000;
  transition: .2s;
}

/* Add a hover effect if you want */
.contact .redes .fa:hover {
  opacity: 0.7;
}

/*____________________________________________________*/

.footer{
  background-color: #000;
  height: 50px;
}
